In [1]:
# LIST AND ITS DEFAULT FUNCTION

In [6]:
lst = ["Kranthi", 21, 5.12, [1, 5]]

In [7]:
lst

['Kranthi', 21, 5.12, [1, 5]]

In [8]:
lst.append("srk")

In [9]:
lst

['Kranthi', 21, 5.12, [1, 5], 'srk']

In [14]:
lst.clear()

In [15]:
lst

[]

In [16]:
lst =["Kranthi", 21, 5.12, [1, 5]]

In [17]:
lst

['Kranthi', 21, 5.12, [1, 5]]

In [19]:
lst.copy()

['Kranthi', 21, 5.12, [1, 5]]

In [21]:
lst.count(21)

1

In [26]:
lst.extend("kranthi")

In [27]:
lst

['Kranthi', 21, 5.12, [1, 5], 'k', 'r', 'a', 'n', 't', 'h', 'i']

In [29]:
lst.index(21)

1

In [36]:
lst.insert(0, 4.5)

In [37]:
lst

[4.5, 'Kranthi', 21, 5.12, [1, 5], 'k', 'r', 4.5, 'a', 'n', 't', 'h', 'i']

In [40]:
lst.pop(4)

[1, 5]

In [41]:
lst

[4.5, 'Kranthi', 21, 5.12, 'k', 'r', 4.5, 'a', 'n', 't', 'h']

In [44]:
lst.remove(21)

In [45]:
lst

[4.5, 'Kranthi', 5.12, 'k', 'r', 4.5, 'a', 'n', 't', 'h']

In [47]:
lst.reverse()

In [48]:
lst

['h', 't', 'n', 'a', 4.5, 'r', 'k', 5.12, 'Kranthi', 4.5]

In [60]:
lst

['a', 'h', 'n', 't', 4.5, 'r', 'k', 5.12, 'Kranthi', 4.5]

In [85]:
lst.clear()

In [87]:
vowels = ['e', 'a', 'u', 'o', 'i']

In [88]:
vowels.sort()

In [89]:
print('Sorted list:', vowels)

Sorted list: ['a', 'e', 'i', 'o', 'u']



DICTIONARY AND ITS DEFAULT FUNCTIONS

In [97]:
dit= { "name":"kranthi", "age":"21", "gender":"male"}

In [98]:
dit

{'name': 'kranthi', 'age': '21', 'gender': 'male'}

In [100]:
dit.copy()

{'name': 'kranthi', 'age': '21', 'gender': 'male'}

In [102]:
dit.get("name")

'kranthi'

In [103]:
dit.items()

dict_items([('name', 'kranthi'), ('age', '21'), ('gender', 'male')])

In [105]:
dit.keys()

dict_keys(['name', 'age', 'gender'])

In [107]:
dit.pop("name")

'kranthi'

In [109]:
dit.popitem()

('gender', 'male')

In [112]:
dit.setdefault("age")

'21'

In [113]:
dit.update()

dit

In [115]:
dit.values()

dict_values(['21'])

In [118]:
dit.fromkeys("age")

{'a': None, 'g': None, 'e': None}

In [124]:
dit.clear()

In [125]:
dit

{}


SETS AND ITS DEFAULT FUNCTIONS.

In [126]:
st = {"kranthi", "male", 12 ,6 ,4}

In [127]:
st

{12, 4, 6, 'kranthi', 'male'}

In [128]:
st.add(7)

In [129]:
st

{12, 4, 6, 7, 'kranthi', 'male'}

In [130]:
st.copy()

{12, 4, 6, 7, 'kranthi', 'male'}

In [133]:
st.difference("kranthi")

{12, 4, 6, 7, 'kranthi', 'male'}

In [139]:
st.difference_update()

In [141]:
st.discard(7)

In [142]:
st

{12, 4, 6, 'kranthi', 'male'}

In [152]:
st.intersection(st)

{12, 4, 6, 'kranthi', 'male'}

In [151]:
st.intersection_update(st)

In [150]:
st.isdisjoint(st)

False

In [154]:
st.issubset(st)

True

In [155]:
st.issuperset(st)

True

In [157]:
st.pop()

4

In [158]:
st.remove("kranthi")

In [159]:
st

{12, 6, 'male'}

In [161]:
st.symmetric_difference(st)

set()

In [162]:
st.symmetric_difference_update(st)

In [163]:
st.union()

set()

In [164]:
st.update("kranthi")

In [165]:
st

{'a', 'h', 'i', 'k', 'n', 'r', 't'}

In [166]:
st.clear()

In [167]:
st

set()

TUPLE AND EXPLORE DEFAULT METHODS.

In [177]:
tup = ("kranthi", "kkr", "srk")

tup

In [180]:
tup.count("kkr")

1

In [181]:
tup.index("kkr")

1

In [182]:
tup.index("srk")

2

STRINGS AND EXPLORE DEFAULT METHODS.

In [184]:
str = ("kranthi" , "srk", "kkr")

In [185]:
str

('kranthi', 'srk', 'kkr')

In [186]:
str.count("srk")

1

In [187]:
str.index("kkr")

2